/*Gemensamma CSS regler*/
* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.chatlora-title-chat{
  display: flex;
  align-items: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 65px;
  margin-left: 110px;
}

#chatImg{
  width: 40px;
  height: auto;
  margin-bottom: 15px;
}

/*Chat*/
.page-wrapper-chat {
  display: flex;
  flex-direction: column;
  height: 97vh;
  width: 680px;
  background-color: white;
  border-radius: 40px;
  overflow: hidden; /* hindrar att saker sticker ut */
}

/* mitten (conversations) tar all plats mellan header och input */
.chat-main-wrapper {
  flex: 1;
  overflow-y: auto;  /* bara meddelanden scrollar */
  padding: 20px;
}

.chat-title-container{
  background: white;
  border-radius: 20px;
  width: 78%;
  max-width: 1200px;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px auto;
}

.chat-header{
  display: flex;
  align-items: center;
  padding: 40px 20px;
  height: 100px;
}

/* Gemensamma regler för meddelanden */
.conversations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.message {
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  word-wrap: break-word;
}

.fake-message {
  align-self: flex-start;
  background-color: #f0f0f0;
  border-top-left-radius: 0; /* lite sned top-left */
  margin-left: 5px;
  gap: 5px;
}

.fake-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.fake-message .avatar-img-chat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fake-message .fake-username {
  font-weight: 600;
}

.my-message {
  align-self: flex-end;
  background-color: #DCF8C6;
  border-top-right-radius: 0;
  gap: 5px;
}

.my-message .delete-btn {
  align-self: flex-end; /* uppe till höger inom bubblan */
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #f63737;
}

/* Text inom bubbla */
.message p {
  margin: 0;
  font-size: 17px;
}

.avatar-img-chat{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

/* input field with button*/
#message-input{
  flex: 1; /*fyller allt utrymme som finns kvar bredvid knappen*/
  min-height: 50px;
  padding: 12px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  }

.write-message-box {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  min-height: 70px; 
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.send-btn{
  padding: 10px 20px;
  width: 120px;
  border: none;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}
.send-btn:hover {
  background: linear-gradient(135deg, #5567d9 0%, #653a90 100%);
}

/* Overlay som mörkar bakgrund*/
.sidenav-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}
/* SideNav */
.sidenav{
  position: fixed;       /* måste ligga ovanpå */
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  padding: 20px;
  z-index: 1000;         /* högre än overlay */
  transform: translateX(-100%);   /* start off-screen */
  animation: slideIn 0.3s forwards; 
}

.sidenav-open {
  transform: translateX(0); /* slide in */
}

#sidenav-icon{
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-bottom: 36px;
}

.close-btn{
  border-radius: 50px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 40px;
  height: 40px;
  font-size: 13px;
  align-self: flex-end; /* tar knappen till höger */
  cursor: pointer;
  border: 1px;
  box-shadow: 0 2px 5px rgb(189, 186, 193);
  color: white;
}

.profile-section{
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 3px;
  margin-top: 20px;
}

.avatar-img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.profile-name{
  font-family: inherit;
  color: #582f81;
}
.logout-btn {
  width: 70%;  
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 45px; 
  margin-top: 50px;
  margin-left: 10px;
}

.logout-btn:hover {
  border-color: #646cff;
  box-shadow: 0 5px 10px rgb(168, 147, 203);
}
